
.deck-header-cont {
    width: 100%;/* 600px; */
    text-align: center;
    /* margin: auto; */
  }
  
  figure.image {
    display: flex;
    justify-content: center;
    background-color: black;
  }
  
  figure .image img {
    width: auto;
  }
  
  .notification {
    margin-top: 20px !important;
  }
  
  .results {
    max-height: 500px;
    overflow-y: scroll;
  }
  
  .title .icon {
    margin-left: 15px;
  }
  
  .hero {
    margin-bottom: 20px;
  }
  
  .forms {
    display: flex;
    justify-content: space-around;
  }
  
  .dropdown-item {
    display: flex;
    align-items: center;
    height: 60px;
  }
  
  .dropdown-item img {
    height: 50px;
    margin-right: 10px;
  }

  .deck-card {
    float: left;
    padding: 5px;
  }

  .card-img:hover {
    cursor: pointer;
  }

  span.icon:hover {
    cursor: copy;
  }

  .feature-img {
    width: 80%;
    /* padding-left: 20px; */
  }

  .total-in-deck {
    text-align: center;
  }

  .total-in-deck span {
    display: inline-block;
    padding: 5px 15px 0 15px;
  }

#myChart {
  /* max-width: 300px; */
  /* background-color: purple; */
  padding-top: 10px;
  margin-top: 20px;
  margin-left: 20px;
  float: right;
}

.chart-column {
  max-width: 25%;
}

.right-autocomplete {
  margin-left: 20px;
}

.left-autocomplete {
  margin-left: 20px;
}

.deck-summary-column {
  margin-left: 20px;
}

#autocomplete-container {
  margin-left: 20px;
}

.mana-curve-cont {
  height: 89px;
  text-align: center;
  display: flex;
  align-items: stretch;
}

.mana-curve-column {
  margin-left: 20px;
  max-width: 300px;
}